<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/structure.css">
  <link rel="stylesheet" type="text/css" href="/css/forms.css">
    <title>BefriendingDB</title>
  </head>
  <body>
    <main class="container">
      <nav id="navbar">
        <ul>
          <li><a href="/volunteers">VOLUNTEERS</a></li>
          <li><a href="/service_users">SERVICE USERS</a></li>
          <li><a href="/befriendings">BEFRIENDINGS</a></li>
        </ul>
      </nav>


      <section id="content">
      <%= yield %>
      </section>
      </main>
  </body>
</html>
