<h1>New Volunteer</h1>

<form class="" action="/volunteer" method="post">

  <label for="name"></label>
  <input id="full-name" type="text" name="name" placeholder="full name" required>
<br>
  <label for="age"></label>
  <input id="age" type="text" name="age" placeholder="age" required>
<br>
  <label for="address-line-1"></label>
  <input id="address-line-1" type="text" name="address_line1" placeholder="address line 1" required>
<br>
  <label for="address-line-2"></label>
  <input id="address-line-2" type="text" name="address_line2" placeholder="address line 2">
<br>
  <label for="address-town"></label>
  <input id="address-town" type="text" name="address_town" placeholder="town/city" required>
<br>
  <label for="address-county"></label>
  <input id="address-county" type="text" name="address_county" placeholder="county" required>
<br>
  <label for="address-postcode"></label>
  <input id="address-postcode" type="text" name="address_postcode" placeholder="postcode" required>
<br>
  <label for="contact-phone"></label>
  <input id="contact-phone" type="text" name="contact_phone" placeholder="phone number" required>
<br>
  <label for="contact-email"></label>
  <input id="contact-email" type="text" name="contact_email" placeholder="email address" required>
<br>

<div class="checkboxes">
<input type="checkbox" name="Addiction" value=""/>
<label for="Addiction">Addiction</label>

<input type="checkbox" name="Carers" value=""/>
<label for="Carers">Carers</label>

<input type="checkbox" name="Elderly" value=""/>
<label for="Elderly">Elderly</label>

<input type="checkbox" name="Ethnic Minorities" value=""/>
<label for="Ethnic Minorities">Ethnic Minorities</label>

<input type="checkbox" name="Gender/Sexuality" value=""/>
<label for="Gender/Sexuality">Gender/Sexuality</label>

<input type="checkbox" name="Homelessness" value=""/>
<label for="Homelessness">Homelessness</label>

<input type="checkbox" name="Learning Disabilities" value="Learning Diabilities"/>
<label for="Learning Disabilities">Learning Disabilities</label>

<input type="checkbox" name="Mental Health" value=""/>
<label for="Mental Health">Mental Health</label>

<input type="checkbox" name="Physical Disability" value=""/>
<label for="Physical Disability">Physical Disability</label>

<input type="checkbox" name="Refugees/Asylum Seekers" value=""/>
<label for="Refugees/Asylum Seekers">Refugees/Asylum Seekers</label>

<input type="checkbox" name="Sensory Impairment" value=""/>
<label for="Sensory Impairment">Sensory Impairment</label>
</div>


<input type="submit" name="submit" value="ADD">
</form>

<form class="" action="/volunteers" method="get">
<input type="submit" name="submit" value="CANCEL">
</form>
