<h1>View Befriendings</h1>

<form class="view-befriending" action="/befriending/view" method="post">

<label for="service-user-select">Service User</label>
<br>
<select name="befriending_id" id="befriending_id">
 <% for befriending in @befriendings %>
 <option value="<%=befriending.id%>"><%=befriending.service_user.name%></option>
 <% end %>
</select>
<br>
<input type="submit" name="submit" value="VIEW">
<br>
<label for="volunteer-select">Volunteer</label>
<br>
<select name="befriending_id" id="befriending_id">
 <% for befriending in @befriendings %>
 <option value="<%=befriending.id%>"><%=befriending.volunteer.name%></option>
 <% end %>
</select>
<br>

<input type="submit" name="submit" value="VIEW">
</form>
