<h1>New Befriending</h1>

<form class="new-befriending" action="/befriending" method="post">

<label for="service-user-select">Service User</label>
<br>
<select name="service_user_id" id="service_user_select">
 <% for service_user in @service_users %>
 <option value="<%=service_user.id%>"><%=service_user.name%></option>
 <% end %>
</select>
<br>

<label for="volunteer-select">Volunteer</label>
<br>
<select name="volunteer_id" id="volunteer_select">
 <% for volunteer in @volunteers %>
 <option value="<%=volunteer.id%>"><%=volunteer.name%></option>
 <% end %>
</select>
<br>

<label for="location">Location</label>
<br>
<textarea name="location" maxlength="255" rows="5" cols="30" placeholder="enter location selected by volunteer and service user" required>
</textarea>
<br>
<input type="submit" name="submit" value="ADD">

</form>

<form class="" action="/befriendings" method="get">
<input type="submit" name="submit" value="CANCEL">
</form>
